<div class="tabs tabs-dark tabs-icon-top">
  <a class="tab-item active">
    <i class="icon ion-home"></i>
    Accueil
  </a>
  <a class="tab-item" ui-sref="account">
    <i class="icon ion-person"></i>
    Compte
  </a>
  <a class="tab-item" ui-sref="stats">
    <i class="icon ion-steam"></i>
    CSGO Stats
  </a>
</div>
<ion-view class="back" ng-controller="HomeController">
	<ion-content>
	 <div class="list">
      <div class="item item-energized">
        <h2 class="light text-center">Liste de paris</h2>
      </div>

      <div class="item item-dark" ng-repeat="pariDisplay in paris">
        <div class="light text-center"> {{pariDisplay.teamname[0]}}
          <a class="assertive">  VS  </a>
          {{pariDisplay.teamname[1]}}
        </div>
        <div class="light text-center">
          Best of : {{pariDisplay.BO}}
        </div>
      </div>
    </div>
	</ion-content>
</ion-view>

